.breadcrumb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.breadcrumb__span{
    font-family: poppins;
}
.breadcrumb__name{
    font-family: poppins;
    margin-right:1rem;
}
.breadcrumb__name:hover{
    text-decoration: underline;
}
span{
    color:rgba(255, 255, 255, 0.672);
    font-family: poppins;
    margin-right: 1rem;
}