.home__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  }
  .home__button{
    border-radius: 50px;
    border: none;
    background-color: #4B8CC8;
    color:white;
    padding: 10px 10px;
    width: 12rem;
    height:3rem;
    font-size: 17px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin-top:2rem;

  }
  .home__info-hr{
    width: 200px;
    border: 1px solid #276eb1;
  }

  .home__button:hover{
    background-color:#276eb1;
    cursor: pointer;
  }
  .home__info{
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  .action{
    width: 50%;
    height: auto;
    object-fit: cover;
  }
  .text__title-big{
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    padding:2rem;
    /* width: 100%; */
    padding: 1rem;
  }

  .text {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 2rem 0;
  }
.text__title{
    color: #FFF;
    font-family: Questrial;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
}

.home__services{
    background: rgba(80, 80, 80, 0.48);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    width: 1000px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
}
.home__services__options{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    list-style: none;
}
.home__services__ul{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-bottom:5rem;
}
.text__title-video{
    text-align: center;
    color: #FFF;
    font-family: Questrial;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    margin-top:4rem;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 700px) {
    .text__title{
        font-size: 25px;
    }
    .text{
        font-size: 16px;
        margin:1rem;
        padding: 10px;
    }
    .home__services__options{
        font-size: 16px;
    }
    .text__title-big{
        font-size: 24px;
    }
    .home{
        display: block;
        align-items: center;
        justify-content: center;
        margin:1rem;
        width: 50%;
    }
    .action{
        width: 100%;
        height: auto;
    }
    .text{
        padding: 0;
    }
    .home__info{
        padding: 0;
        margin:1rem;
        align-items: center;
    }

  }
  @media (max-width: 480px) {
    .text__title{
        font-size: 20px;
        padding: 1rem;
        margin: 1rem;
    }
    .text{
        font-size: 15px;
        margin:1rem;
        padding: 10px;
    }
    .home__services__options{
        font-size: 15px;
    }
        .text__title-video{
        font-size: 24px;
        margin: 1rem;
    }
    .video__element-text{
        font-size:16px;
    }
    .header__span{
        margin:0;
    }
    .home{
        width: 50%;
    }
  }
  