.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
 }
 
 .form-label {
    margin-bottom: 10px;
    font-family: poppins;
    font-weight: 400;
    color:black;
    align-self: flex-start;
    /* margin-left:3rem; */
   }
   
 
   .form__container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
   }
   
   .form-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid gray;
    /* border-bottom: 1px solid rgb(204, 204, 204); */
 }
 .error-icon{
   width: 1rem;
   margin-right: 1rem;
 }
 textarea{
   margin-bottom:1rem;
   width: 80%;
 }
 .form-input-textarea{
   height: 100px;
   width: 80%;
   padding: 0;
   margin: 0;

   margin-bottom:1rem;
 }
 .form-title{
    color:black;
    font-family: poppins;
    font-weight: 400;
    margin-bottom: 2rem;
 }
 
 .form-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }
 
 .form-button:hover {
    background-color: #0056b3;
 }
 .errors{
   color:red;
   display: flex;
   align-items: center;
   margin-bottom:1rem;
 }