.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
    padding: 1rem;
    align-items: center;
 }
 
 .form-label {
    margin-bottom: 10px;
    font-family: poppins;
    font-weight: 400;
    color:rgb(255, 255, 255);
    align-self: flex-start;
    width: 100%;
   }
   
.form__container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
   }
   
.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid gray;
 }
 .error-icon{
   width: 2rem;
   margin-right: 1rem;
 }
 textarea{
   margin-bottom:1rem;
   width: 80%;
 }
 .form-input-textarea{
   height: 100px;
   width: 100%;
   padding: 0;
   margin: 0;

   margin-bottom:1rem;
 }
 .form-title{
    color:black;
    font-family: poppins;
    font-weight: 400;
    margin-bottom: 2rem;
 }
 
 .form-button {
   padding: 10px 20px;
   width: 100%;
   background-color: #007BFF;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin-bottom: 2rem;
 }
 
 .form-button:hover {
    background-color: #0056b3;
 }
 .errors{
   color:rgba(255, 0, 0, 0.794);
   display: flex;
   align-items: center;
   margin-bottom:1rem;
 }

 .form-input,
.form-button {
    box-sizing: border-box;
}
 @media only screen and (max-width: 700px) {
   .form-input,
   .form-label {
     width: 100%;
     margin: 1rem 0;
   }
   .form__container{
      width: 100%;
   }
   .form{
      margin: 1rem;
      width: 100%;
   }
   .form-button {
      padding: 1rem;
      font-size: 1.2rem;
      width: 100%;
    }
    .errors{
      font-size: 13px;
    }
 }