img{
    width:100%;
}
.product-images {
    max-width: 1200px;
    margin: 0 auto;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
  }
  
  .image-grid img {
    width: 100%;
    height: auto;
  }