.video-element {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .video-element video {
    width: 50%;
    max-width: 350px;
    height: auto;
    margin:3rem;
    border-radius: 10px;
  }
  
  .video-element__text{
    font-family: poppins;
    padding: 0rem 2rem;
    margin: 3rem;
  }
  .video-container{
    margin-left: 10rem;
  }
  
  @media (max-width: 800px) {
  
     .video-container{
       margin-bottom: 2rem;
       margin-left: 0;
     }
     .video-element__text {
      padding: 1rem;
      margin: 1rem;
    }
   }
  @media (max-width: 600px) {
   .video-element{
    flex-direction: column-reverse;
   }
    .video-element video {
      width: 100%;
    }
    .video-element__text {
      padding: 2rem;
      margin: 1rem;
    }
    .video-container{
      margin-bottom: 2rem;
      margin-left: 0;
    }
  }