.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:25px;
    width: 100%;
    height: 310px;
    justify-content: center;
    background-color: black;
    font-family: poppins;
}
.footer__social-media,
.footer__site {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center; 
}
.footer__social-media{
    border-bottom:0;
    align-items: center;
    justify-self: center;
    /* margin-left:4rem; */
}
a.footer__site{
    background-color: aliceblue;
}
.footer__address-container{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.footer__address{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.footer__contact-text{
    width: 50%;
}
.contact__social-media{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom:1rem;
    width: 100%;
}
.iphone-icon{
    width: 2rem;
    padding-right: 1rem;

}
.facebook-icon{
    width: 2rem;
    padding-right:1rem;
}
.instagram-icon{
    width: 1.8rem;
    padding-right:1rem;
}
.youtube-icon{
    width: 2rem;
}
.footer__li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
  }
  .footer__li:hover{
    color: blue;
    background-color: aliceblue;
  }
  
a {
    text-decoration: none;
    list-style: none;
    color: white; 
    align-items: center;
  }
.footer__ul{
    margin:0;
    padding: 0;
    text-decoration: none;
    color:white;
}
.text__footer{
    margin:5px;
}
.footer__title{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 18px;
    margin-bottom:2rem;
    margin-top: 5rem;
    text-align: center;
}
.contact__text{
  font-size: 17px;
}
.social-media-icon{
    width: 2rem;
    margin-right:2rem;
}
a.contact__text{
    color: rgb(127, 162, 236);
    text-decoration: underline;
    width: 100%;
}
a.contact__text:hover{
    color: rgb(127, 146, 186);
}


@media (max-width: 700px) {
    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        /* margin: 1rem; */
    }
    .footer__social-media{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin:1rem;

    }
    .contact__social-media{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a.contact__text{
        text-align: center;
    }
    .footer__address, .footer__site{
        display: none;
    }
    .footer__title{
        display: none;
    }
    .youtube-icon{
        width: 1.7rem;
    }
    .facebook-icon{
        width: 1.7rem;
    }
    .instagram-icon{
        width: 1.6rem;
    }
  }
  @media (max-width: 900px) {
   .footer{
    font-size: 17px;
    grid-template-columns: 1fr 1fr;
   }
   .footer__site{
    display: none;
   }
  }
  @media (max-width: 550px){
    .contact__social-media{
        width: 90%;
    }
    a.contact__text{
        font-size: 17px;
    }
  }
  @media (max-width: 320px){
    .footer__social-media{
        margin: 0 1rem;
        /* background-color: azure; */
    }
    .contact__social-media{
        width: 100%;
    }
    a.contact__text{
        font-size: 16px;
    }
  }