.nav{
    background: rgba(114, 114, 114, 0.25);
    display: flex;
    flex-direction: column;
}
.nav__ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
  }
  .logo{
   position: absolute;
   left:30px;
   top:6px;
    width: 3rem;
    filter: brightness(100) ;
    
  }
  .nav__button {
    background-color: #0077ff00;
    
    height: auto;
    border: none;
    display: flex;
    align-items: center;
    padding: 0; /* För att ta bort knappens standardmarginal */
  }
.nav__link {
    padding-right: 5rem;
    text-decoration: none;
    color:white;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}
.nav__link:focus,
.nav__link:active {
  outline: 2px solid #0077FF;
  background-color: #0077FF; 
  color: #fff; 
}
.menu-options{
  width: 2rem;
  filter:invert(10);
  display: none;
}
.menu-options:hover{
  cursor: pointer;
}
@media (max-width: 700px) {
  .menu-options{
    display: block;
    position: absolute;
    top:0;
    right: 20px;
  }
  .nav{
    background: none;
  }
  .nav__link {
    display:none;
  }
  .logo{
    width: 2rem;
  }
}