.nav{
    background: rgba(30, 30, 30, 0.25);
    display: flex;
    flex-direction: column;
}
ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
.nav__link {
    padding-right: 5rem;
    text-decoration: none;
    color:white;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.nav__link:focus,
.nav__link:active {
  outline: 2px solid #0077FF; /* Ange en tydlig fokusram */
  background-color: #0077FF; /* Färg för att markera fokus eller aktivering */
  color: #fff; /* Textfärg när länken är i fokus eller aktiverad */
}