.header-img{
    width: 100%;
    height: auto;
}
.header {
    position: relative;
  }
  
  .header-img {
    max-width: 100%;
    height: auto;
  }
  .nav {
    width: 100%;
    position: absolute;
    top: 18px;
    left: 0;
  }
.header__title{
  position: absolute;
  top:60%;
  left:10%;
  font-weight: 500;
  color:white;
  font-family: poppins;
  font-size: 6vmin;
  
  font-weight: 600;
  line-height: normal;
}

@media screen and (max-width: 1247px) {
  .header__title {
    font-size: 5vmin; /* Justera storleken för mindre skärmar */
    top:48%;
  }
  a.nav__link{
    font-size: 1.6vmin;
  }

}


@media screen and (max-width: 920px) {
  .header__title {
    font-size: 4.2vmin; /* Justera storleken för mindre skärmar */
    top:37%;
  }
  a.nav__link{
    font-size: 1.4vmin;
  }
}
@media screen and (max-width: 740px) {
  .header__title {
    font-size: 3.5vmin; /* Justera storleken för mindre skärmar */
    top:28%;
  }
}

@media screen and (max-width: 500px) {
  .header__title {
    font-size: 15px; /* Justera storleken för ännu mindre skärmar */
    top:15%;
  }
}
@media screen and (max-width: 300px) {
  .header__title {
    font-size: 14px; /* Justera storleken för ännu mindre skärmar */
    top:11%;
  }
}